[*]
charset = utf-8
indent_size = 4
indent_style = space
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true

[{composer.lock, .eslintrc, .prettierrc, .babelrc, jest.config, .stylelintrc, *.bowerrc, *.jsb3, *.jsb2, *.webmanifest, *.glb, *.json}]
indent_style = space
indent_size = 2

[{jshint.json, *.jshintrc}]
indent_style = space
indent_size = 2

[{*.yml, *.yaml}]
indent_style = space
indent_size = 2
