{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 4,
  "useTabs": false,
  "bracketSpacing": true,
  "trailingComma": "none",
  "quoteProps": "as-needed",
  "printWidth": 140,
  "vueIndentScriptAndStyle": true,
  "proseWrap": "always",
  "insertPragma": false,
  "jsxSingleQuote": true,
  "requirePragma": false,
  "arrowParens": "always",
  "embeddedLanguageFormatting": "auto",
  "htmlWhitespaceSensitivity": "strict"
}
