.main-wrapper
    width: 100%
    display: flex
    align-items: flex-start
    align-content: flex-start

.chess,
.output
    padding: px-to-rem(50px)

.chess
    width: 75%
    background: rgb(88 44 0)

.output
    width: 25%

.start
    text-decoration: underline

.chess-item
    display: flex
    position: relative
    padding-bottom: 100%

.chess-item a
    inset: 0
    position: absolute
    display: flex
    align-items: center
    justify-content: center

.chess-item.player a
    width: 50%
    height: 50%
    margin: auto

.chess-item.dark a
    background: #000
    color: #fff

.chess-item.white a
    background: antiquewhite
    color: #000

.chess-item.focused
    box-shadow: 0 0 0 4px #6a6a6a inset

.chess-item.selected
    box-shadow: 0 0 0 5px #0030fe inset
